<div *ngIf="storeMessage==''">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Reimbursement Id</th>
            <th>Employee Id</th>
            <th>Manager Id</th>
            <th> Reimbursement Description</th>
            <th>Reimbursement Amount</th>
            <th>Reimbursement Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let req of pendingReimb" >
            <td>{{req.reimbursementId}}</td>
            <td>{{req.empId}}</td>
            <td>{{req.mgrId}}</td>
            <td>{{req.reimbursementDesc}}</td>
            <td>{{req.reimbursementAmt}}</td>
            <td>{{req.reimbursementStatus}}</td>
            <td><button type="submit" class="btn btn-primary"
                    (click)="approved(req.empId,req.reimbursementId)">Approve</button></td>
            <td><button type="submit" class="btn btn-danger"
                    (click)="denied(req.empId,req.reimbursementId)">Deny</button></td>
        </tr>
        </tbody>
        </table>
    </div>
    <div *ngIf="storeMessage!=''">
        <h3 class="text-danger">{{ storeMessage }}</h3>
    </div>