<h4>User ID:   {{currentEmp.empId}}</h4>
<h4>Manager ID:   {{currentEmp.mgrId}}</h4>
<form>
    <div class="mb-3 mt-3">
      <label for="empFirstName" class="form-label">First Name:</label>
      <input 
      type="text" 
      class="form-control"
      placeholder="{{ currentEmp.empFirstName }}"
      value="{{ currentEmp.empFirstName }}"
      name="empFirstName" 
      [(ngModel)]="empModel.empFirstName"
      #empFirstName='ngModel'>
    </div>
    <div class="mb-3">
      <label for="empLastName" class="form-label">Last Name:</label>
      <input 
      type="text" 
      class="form-control" 
      value="{{ currentEmp.empLastName }}"
      name="empLastName" 
      [(ngModel)]="empModel.empLastName"
      #empLastName="ngModel">
    </div>
    <div class="mb-3 mt-3">
      <label for="empUserName" class="form-label">Username:</label>
      <input 
      type="text" 
      class="form-control" 
      value="{{ currentEmp.empUserName }}"
      name="empUserName" 
      [(ngModel)]="empModel.empUserName"
      #empUserName="ngModel">
    </div>
    <div class="mb-3">
      <label for="empPassword" class="form-label">Password:</label>
      <input 
      type="text" 
      class="form-control" 
      value="{{ currentEmp.empPassword }}"
      name="empPassword" 
      [(ngModel)]="empModel.empPassword"
      #empPassword="ngModel">
    </div>
    <button type="button" class="btn btn-primary" (click)="updatedEmployee()">Edit Profile</button>
  </form>