<h3>User ID: {{empModel.empId}}</h3>
<h3>Manager ID: {{empModel.mgrId}}</h3>
<form>
    <div class="mb-3 mt-3">
      <label for="empFirstName" class="form-label">First Name:</label>
      <input 
      type="text" 
      class="form-control" 
      name="empFirstName" 
      [(ngModel)]="empModel.empFirstName"
      #empFirstName='ngModel'>
    </div>
    <div class="mb-3">
      <label for="empLastName" class="form-label">Last Name:</label>
      <input 
      type="text" 
      class="form-control" 
      name="empLastName" 
      [(ngModel)]="empModel.empLastName"
      #empLastName="ngModel">
    </div>
    <div class="mb-3 mt-3">
      <label for="empUserName" class="form-label">Username:</label>
      <input 
      type="text" 
      class="form-control" 
      name="empUserName" 
      [(ngModel)]="empModel.empUserName"
      #empUserName="ngModel">
    </div>
    <div class="mb-3">
      <label for="empPassword" class="form-label">Password:</label>
      <input 
      type="text" 
      class="form-control" 
      name="empPassword" 
      [(ngModel)]="empModel.empPassword"
      #empPassword="ngModel">
    </div>
    <button type="button" class="btn btn-primary">Edit Profile</button>
  </form>