<form>
  <div class="mb-3 mt-3">
    <label for="empId" class="form-label">Employee ID:</label>
    <input 
    type="number" 
    class="form-control" 
    name="empId" 
    [(ngModel)]="empModel.empId"
    disabled>
  </div>
  <div class="mb-3 mt-3">
    <label for="mgrId" class="form-label">Manager ID:</label>
    <input 
    type="number" 
    class="form-control" 
    name="mgrId" 
    [(ngModel)]="empModel.mgrId"
    disabled>
  </div>
  <div class="mb-3 mt-3">
    <label for="empFirstName" class="form-label">First Name:</label>
    <input 
    type="text" 
    class="form-control" 
    name="empFirstName" 
    [(ngModel)]="empModel.empFirstName"
    disabled>
  </div>
  <div class="mb-3">
    <label for="empLastName" class="form-label">Last Name:</label>
    <input 
    type="text" 
    class="form-control" 
    name="empLastName" 
    [(ngModel)]="empModel.empLastName"
    disabled>
  </div>
  <div class="mb-3 mt-3">
    <label for="empUserName" class="form-label">Username:</label>
    <input 
    type="text" 
    class="form-control" 
    name="empUserName" 
    [(ngModel)]="empModel.empUserName"
    disabled>
  </div>
  <div class="mb-3">
    <label for="empPassword" class="form-label">Password:</label>
    <input 
    type="text" 
    class="form-control" 
    name="empPassword" 
    [(ngModel)]="empModel.empPassword"
    disabled>
  </div>
  <button type="button" class="btn btn-primary">Edit Profile</button>
</form>