<form>
  <div class="mb-3 mt-3">
    <label for="empFirstName" class="form-label">First Name:</label>
    <input type="empFirstName" class="form-control" id="empFirstName" placeholder="Employee First Name">
  </div>
  <div class="mb-3">
    <label for="empLastName" class="form-label">Last Name:</label>
    <input type="empLastName" class="form-control" id="empLastName" placeholder="Employee Last Name">
  </div>
  <div class="mb-3 mt-3">
    <label for="empUserName" class="form-label">Username:</label>
    <input type="empUserName" class="form-control" id="empUserName" placeholder="Employee Username">
  </div>
  <div class="mb-3">
    <label for="empPassword" class="form-label">Password:</label>
    <input type="empPassword" class="form-control" id="empPassword" placeholder="Employee Password">
  </div>
  <button type="button" class="btn btn-primary">Edit Profile</button>
</form>