<h2>Pending Reimbursements</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <td>REIMBURSEMENT ID</td>
            <td>EMPLOYEE ID</td>
            <td>MANAGER ID</td>
            <td>REIMBURSEMENT DESCRIPTION</td>
            <td>REIMBURSEMENT AMOUNT</td>
            <td>REIMBURSEMENT STATUS</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let reimbursements of allReimbursements">
            <!-- <tr> -->
            <td>{{ reimbursements.reimbursementId }}</td>
            <td>{{ reimbursements.empId }}</td>
            <td>{{ reimbursements.mgrId}}</td>
            <td>{{ reimbursements.reimbursementDesc }}</td>
            <td>{{ reimbursements.reimbursementAmt }}</td>
            <td>{{ reimbursements.reimbursementStatus }}</td>
            <!-- <td>
                <button type="button" class="btn btn-primary" (click)="goToEditBook(book.id)">
                    <i class="material-icons">edit</i>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)">
                    <i class="material-icons">delete</i>
                </button>
            </td> -->

        </tr>
    </tbody>
</table>