<!-- <div *ngIf="shouldDisplay"> -->
<div>
    <div class="container">
        <form>
            <div class="card m-3">
                <div class="card-header bg-warning">REIMBURSEMENT FORM</div>
                <div class="card-body">

                    <div class="mb-3 mt-3">
                        <label for="eId" class="form-label">Employee Id:</label>
                        <input type="text" class="form-control" id="eId" placeholder="Enter your id" name="employeeId"
                            [(ngModel)]="newReimbursement.empId" #empId="ngModel" required>

                        <div *ngIf="!empId.valid && empId.touched" class="text-danger small">
                            Employee Id is required!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="mId" class="form-label">Manager Id:</label>
                        <input type="text" class="form-control" id="mId" placeholder="Enter your manager id"
                            name="managerId" [(ngModel)]="newReimbursement.mgrId" #mgrId="ngModel" required>

                        <div *ngIf="!mgrId.valid && mgrId.touched" class="text-danger small">
                            Manager Id is required!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rDesc" class="form-label">Reimbursement Description:</label>
                        <input type="text" class="form-control" id="rDesc" placeholder="Enter Reimbursement Description"
                            name="reimbursementDescription" [(ngModel)]="newReimbursement.reimbursementDesc"
                            #reimbursementDesc="ngModel" required>

                        <div *ngIf="!reimbursementDesc.valid && reimbursementDesc.touched" class="text-danger small">
                            Description is required!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rAmt" class="form-label">Reimbursement Amount:</label>
                        <input type="text" class="form-control" id="rAmt" placeholder="Enter Reimbursement Amount"
                            name="ReimbursementAmount" [(ngModel)]="newReimbursement.reimbursementAmt"
                            #reimbursementAmt="ngModel" required>

                        <div *ngIf="!reimbursementAmt.valid && reimbursementAmt.touched" class="text-danger small">
                            Amount is required!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rStatus" class="form-label">Reimbursement Status:</label>
                        <input type="text" class="form-control" id="rStatus" placeholder="Enter Reimbursement Status"
                            name="reimbursementStatus" [(ngModel)]="newReimbursement.reimbursementStatus"
                            #reimbursementStatus="ngModel" required value="pending">

                        <div *ngIf="!reimbursementStatus.valid && reimbursementStatus.touched"
                            class="text-danger small">
                            Amount is required!
                        </div>


                    </div>
                </div>
                <div class="card-footer bg-warning">
                    <button type="button" class="btn btn-success" (click)="createANewReimbursement()">Create
                        Reimbursement</button>
                </div>
            </div>
        </form>
    </div>
</div>