<nav class="navbar navbar-expand-sm bg-primary navbar-dark text-lg-start">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Group Five</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="main-login">Log In</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">View Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Update Profile</a>
          </li>  
          
          <li class="nav-item">
            <a class="nav-link" routerLink="#">View Reimbursments</a>
          </li> 
          <li class="nav-item">
            <!-- MANAGER Level FEATURE -->
            <a class="nav-link" routerLink="employee-view-reimb">View All Pending Reimbursments</a>
          </li> 
              
              <!-- <li><a class="dropdown-item" routerLink="">Create A Reimbursement</a></li>
              <li><a class="dropdown-item" routerLink="employee-reimb">View Your Pending Reimbursment</a></li>
              <li><a class="dropdown-item" routerLink="">View Your Resolved Reimbursments</a></li> -->
                    
          <!-- </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container-fluid mt-3">
    <h3></h3>
    <p></p>
  </div>
  
   