    <div class="container myCon">
        <div class="row  row-cols-lg-2">
            <div class="col infocol">
                <div class="card ab">
                    <img src="https://media.istockphoto.com/photos/were-always-hungry-for-success-picture-id1330547182?s=612x612"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="row justify-content-md-center g-0">
                            <div class="col-sm-12 col-md-6 col-lg-3 loginfo ">
                                <div class="mb-3">
                                    <label for="userName" class="form-label custlabel">User Name</label>
                                    <input type="text" class="form-control custinput" id="userName"
                                        aria-describedby="emailHelp">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 loginfo">
                                <div class="mb-3">
                                    <label for="passwordEmp" class="form-label custlabel">Password</label>
                                    <input type="empPassword" class="form-control " id="passwordEmp">
                                </div>
                            </div>
                            <div class="card-body">
                                <button type="button" class="btn btn-success"  onclick="employeeLogin()">Employee Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col infocol">
                <div class="card ab">
                    <img src="https://media.istockphoto.com/photos/successful-partnership-picture-id1365436662?s=612x612"
                        class="card-img-top" alt="...">
                        <div class="card-body">
                            <div class="row justify-content-md-center ">
                                <div class="col-sm-12 col-md-6 col-lg-3 loginfo ">
                                    <div class="mb-3">
                                        <label for="userName1" class="form-label custlabel">User Name</label>
                                        <input type="text1" class="form-control custinput" id="userName1" name="mgrUName"aria-describedby="emailHelp">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 loginfo ">
                                    <div class="mb-3">
                                        <label for="password1" class="form-label custlabel">Password</label>
                                        <input type="mngrPassword" class="form-control " id="password1" name="mgrPass">
                                      </div>
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-success" onclick="mngrLogin()">Manager Login</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

